/* Initial setup */

:root {
  --dark-one: #333;
  --primary-one-color: #784cfb;
  --secondary-one-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

button:focus {
  outline: none;
}

header {
  background-color: var(--primary-one-color);
  color: #fff;
}

/* ------  GENRAL REUSABLE COMPONENTS ------  */
.container {
  max-width: 130rem;
  padding: 0 3rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.section {
  padding: 5rem 0;
}

.section_header {
  text-align: center;
  text-transform: uppercase;
}

.section_title {
  position: relative;
  padding-bottom: 1rem;
  font-size: 3.8rem;
  line-height: 1.4;
  letter-spacing: 1.5px;
}

.section_title:after {
  content: "";
  position: absolute;
  width: 12rem;
  height: 5px;
  border-radius: 3px;
  background-color: var(--primary-one-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 700;
  color: var(--dark-one);
  letter-spacing: 2px;
}

.text {
  font-size: 1.8rem;
  color: var(--dark-two);
  letter-spacing: 1px;
  line-height: 1.6;
  word-wrap: break-word;
}

/* --- HEADER NAV SECTION --- */

.header_nav {
  max-width: 135rem;
  margin: 0 auto;
  padding: 0 4rem;
  z-index: 50;
}

.header_nav-elements {
  height: 10rem;
  flex-wrap: wrap;
}

.header_nav-elements p {
  font-size: 3.6rem;
  font-weight: 600;
  letter-spacing: 0.75px;
}

.header_nav-link {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1.25px;
  font-weight: 500;
  margin-right: 4.5rem;
  padding-bottom: 0.05rem;
  border-bottom: 2px solid transparent;
  border-radius: -10%;
  transition: all 0.3s;
}

.header_nav-list li:last-child a {
  margin-right: 0rem;
}

.header_nav-link:hover {
  border-color: #fff;
}

/*-------  HERO SECTION  ------*/

.hero {
  padding: 4rem 0 5rem;
  grid-template-columns: 40fr 60fr;
}

.heroImage {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
}

.hero_heading {
  text-align: left;
  margin-left: 3rem;
  padding-top: 10rem;
}

.heading {
  font-size: 3.2rem;
  letter-spacing: 0.75px;
  margin-bottom: 3rem;
}

.heading strong {
  color: var(--primary-one-color);
}

.hero_heading a {
  font-size: 2rem;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: var(--primary-one-color);
  color: #fff;
}

/* ------ ABOUT SECTION ------ */

.about {
  background-color: #f9fafb;
}

.about .column-1,
.about .column-2 {
  position: relative;
}

.about .section_header {
  padding-bottom: 8rem;
}

.about .column-1:before {
  content: "About";
  position: absolute;
  font-size: 11rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: var(--primary-one-color);
  opacity: 0.15;
  top: 15px;
  left: 5px;
  line-height: 0;
}

.about .column-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about .title {
  margin-bottom: 8rem;
}

.about .text {
  margin-bottom: 4rem;
}

.about img {
  max-width: 100%;
}

.skills {
  margin: 2rem 0;
}

.skill_title {
  color: var(--dark-one);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.skill i {
  font-size: 3.4rem;
  margin-right: 1rem;
}

.skill .HTML_icon {
  color: #e34f26;
}

.skill .CSS3_icon {
  color: #264de4;
  margin-left: 1rem;
}

.skill .Javascript_icon {
  color: #f7df1e;
}

.skill .React_icon {
  color: #00d8ff;
}

.skill .GIT_icon {
  color: #000;
}

/* My work section  */

.myWork .section_header {
  padding-bottom: 1rem;
}

.myWork .section_body {
  margin-bottom: 5rem;
}

.project_wrapper,
.blog_wrapper {
  max-width: 45rem;
  margin: 0 auto;
  height: 65rem;
}

.project_image,
.blog_image {
  width: 100%;
}

.project_work .title,
.blog-work .title {
  padding-bottom: 2rem;
}

.project_work .text,
.blog-work .text {
  padding-bottom: 4rem;
}

.project-links,
.blog-links {
  font-size: 2rem;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.project-links {
  background-color: var(--primary-one-color);
  color: #fff;
}

.blog-links {
  border: 1px solid var(--primary-one-color);
  color: var(--primary-one-color);
}

/* project file css */

/* .projects {
  padding: 4rem 0 0 0;
}

.project-files {
  text-align: center;
  max-width: 80rem;
  margin: 0 auto;
  min-height: 100vh;
}

.project-list-items {
  margin: 2rem;
}

.project-list-items li {
  margin: 2rem;
}
.project-files h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.project-files p {
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 3rem;
  padding: 1rem;
}

.project-files .link {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem;
  letter-spacing: 0.5px;
}

.btn_conatiner {
  margin: 2rem;
}

.primary-link {
  background-color: var(--primary-one-color);
  color: #fff;
}

.secondary-link {
  color: var(--primary-one-color);
  border: 1px solid var(--primary-one-color);
} */

/* ------ FOOTER SECTION PART STARTS ------ */

.footer {
  color: var(--secondary-one-color);
  background-color: var(--dark-one);
  padding: 5rem 0;
}

.footer_container {
  max-width: 135rem;
  margin: 0 auto;
  padding: 0 3.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 4rem;
}

.footer_title {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
  line-height: 1.6;
}

.footer_links {
  font-size: 1.6rem;
  letter-spacing: 1.2px;
}

.footer_links li:not(:last-child) {
  margin-right: 4rem;
}

.footer_link {
  color: var(--secondary-one-color);
  transition: all 0.3s;
}

.footer_link:hover {
  color: var(--primary-one-color);
}

.footer_socials {
  display: flex;
  justify-content: flex-end;
}

.footer_socials i {
  color: var(--secondary-one-color);
  font-size: 2.8rem;
  transition: all 0.3s;
  margin-right: 3rem;
}

.footer_socials a:last-child i {
  margin-right: 2.5rem;
}

.footer_socials i:hover {
  color: var(--primary-one-color);
}

.footer_end {
  font-size: 1.6rem;
  margin: 4rem 0 1rem;
  letter-spacing: 1.2px;
}

.footer_end p {
  margin-right: 1.5rem;
}

.footer_end .heart_icon {
  height: 35px;
  width: 35px;
}

.footer_end .coffee_icon {
  height: 45px;
  width: 45px;
  margin-right: 1rem;
}

@media (max-width: 60em) {
  /*-------  HERO SECTION  ------*/

  .hero {
    display: flex;
    flex-direction: column-reverse;
  }

  .heroImage {
    max-width: 45rem;
    padding: 0 1rem;
  }

  .hero_heading {
    text-align: center;
    margin-left: 0rem;
    padding-top: 1rem;
  }

  .heading {
    margin-bottom: 0rem;
  }

  .hero_heading a {
    display: none;
  }

  /* ------ ABOUT SECTION ------ */

  .about .section_body {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 2rem;
  }

  .about .column-2 {
    display: none;
  }

  .about .text {
    padding-right: 5rem;
  }

  /* My work section  */

  .myWork .section_header {
    padding-bottom: 0rem;
  }

  .myWork .section_body {
    display: block;
  }

  .project_wrapper {
    height: 75rem;
  }

  /* ------ FOOTER SECTION  ------ */

  .footer_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer_links {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer_links li:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .footer_socials {
    grid-column-start: 2;
  }

  .footer_end {
    margin: 0 0 1rem;
  }
}

@media (max-width: 42em) {
  /* ------  GENRAL REUSABLE COMPONENTS ------  */
  .container {
    padding: 0 2rem;
  }

  .section_title {
    font-size: 3.2rem;
  }

  .title {
    font-size: 2.8rem;
    letter-spacing: 2.5px;
  }

  /* --- HEADER NAV SECTION --- */

  .header_nav {
    padding: 0 3rem;
  }

  .header_nav-elements p {
    font-size: 3.2rem;
  }

  .header_nav-link {
    font-size: 1.8rem;
    margin-right: 3rem;
  }

  /*-------  HERO SECTION  ------*/

  .hero {
    padding: 2rem 0 2rem;
  }

  .heroImage {
    padding: 0rem;
  }

  .hero_heading {
    text-align: center;
    padding-top: 2rem;
  }

  .heading {
    font-size: 2.4rem;
  }

  /* ------ ABOUT SECTION ------ */

  .about .column-1:before {
    font-size: 9rem;
  }

  /* ------ FOOTER SECTION PART STARTS ------ */
}
